html{
    background-color: black;
    overflow: hidden;
   
}
nav {
    display: flex;
    justify-content: end;
    background-color: black;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;

}
.navlist li {
    display: inline;
    font-style: italic;
    font-weight: 900;
    font-family: 'Courier New', cursive;
    font-size: clamp(16px, 3vh, 32px);
    padding: 8px;
    display: list-item;
    list-style-position: inside;
    float: right;
    margin-right: 20px;
}
.navlist li:hover{
    background-color: #45a049;
}
a {
    text-decoration: none;
    color: white;
}
h1{
    border: white solid 3px;
    color: yellow;
    font-family: 'Playfair Display', cursive;
    font-size: clamp(6rem,3vh, 12rem);
}
.content{
    column-count: 2;
  
}
#stretch{

width: 100%;

}

#the{
    display:inline-block;
    vertical-align:top; 
    float: left;
    width: 40%;
}
p{
    color: yellow;
    font-size: clamp(2.0rem, 3vh, 6rem);
    
}
.art-description{
    font-size:clamp(1.4rem, 3vh, 6rem); 
    width: 45%;
    display:inline-block;
    padding-left: 90px;
}

@media (max-width: 980px) {
   
    h1 {
      font-size: clamp(4rem,3vh, 9rem);
    }
    p, .art-description{
        font-size: clamp(2rem, 3vw, 5rem);
        padding: 0px;
        width: 100%;
    }
    #stretch, #the{
        width: 80%;
    }
    
  }
  
  /*@media (max-width: 600px){
    #gallery img{
      width: 100%;
    }
  }*/
  @media(max-width: 400px){
    .content{
        overflow-x: hidden;
    }
    h1{
        font-size: clamp(1rem,3vh, 6rem);
        padding-bottom: 10px;
        padding-right: 60px;
        width: 170%;
        text-align: center;
    }
    p, .art-description{
        font-size: clamp(17px, 3vh, 11px);
        padding: 0px;
        width: 100%;
    }
    #stretch{
        width: 100%;
        margin-top: 110px;
        
        margin: 0px;
        height: 23vh;
    }
    #the{
        width: 100%;
        margin-top: 110px;
        
    }
}
