* {
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: end;
    margin-right: 10px;
    background-color: black;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;

}

.navlist li {
    display: inline;
    padding: 6px;
    font-style: italic;
    font-weight: 900;
    font-family: 'Courier New', cursive;
    font-size: clamp(16px, 3vh, 32px);
    padding: 8px;
    display: list-item;
    list-style-type: circle;
    list-style-position: inside;
    float: right;
}

.navlist li:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: white;
}

.artist {
    background-image: url("homepic.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 89vh;
    width: 100%;
}


.headings {
    text-align: center;
    padding-top: 145px;
    text-decoration: wavy;
    color: yellow;
    font-weight: 900;
    text-shadow: black 4px 0px;

}

.Name {
    font-size: clamp(6rem, 3vh, 10rem);
    margin-top: 0px;
}

.Sitename {
    font-size: clamp(3rem, 3vh, 8rem);

}

h3 {
    color: yellow;
    text-align: left;
    font-size: 1.5rem;
    padding-bottom: 6px;
    padding-top: 8px;
    background-color: black;
    border-top: yellow solid 2px;
    border-bottom: yellow solid 2px;
    width: 24%;
}

.about {
    text-align: left;
    background-color: black;
    font-family: 'Courier New', cursive;
    margin-top: 200px;
}


p {
    color: white;
}

/*Gallery*/
.Paintings {
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
    padding-top: 40px;
    border-top: yellow solid 8px;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    max-width: 870px;
    margin: 0 auto;
}

.galleryhead {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    font-size: 3rem;
    padding-bottom: 20px;
    text-decoration: overline;
}

.quote {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    font-size: 1.6rem;
}

.gallery .image1 {
    width: 419px;
}

.gallery img {
    display: block;
    height: 350px;
    max-width: 100%;
}

.border {
    border: yellow solid 4px;
}

/*CONTACT INFO*/
.contact {
    background-image: url("getInTouch.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    padding-bottom: 180px;
    color: brown;
}

.contacthead {
    text-align: center;
    padding-top: 50px;
    text-decoration: wavy;
    color: yellow;
    font-weight: 900;
    font-size: clamp(5rem, 3vh, 10rem);
    text-shadow: black 4px 0px;
    padding-bottom: 40px;
}

h5 {
    font-size: clamp(3rem, 3vh, 5rem);
    padding-left: 20px;

}

textarea {
    height: 200px;
}

.info {
    font-size: clamp(2rem, 3vh, 5rem);
    padding-left: 20px;
    color: black;
}

label {
    color: black;
}

legend {
    font-weight: bold;
}

input[type=text],
select,
textarea {
    width: 20%;
    padding: 1.5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}

input[type=radio] {
    width: 2%;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: #45a049;
}

form {
    border-radius: 5px;
    padding: 20px;
}

/** media queries to adjust webpage for screen size
*/
/*change everything below*/
@media screen and (max-width: 980px) {
    nav {
        justify-content: center;
    }
    .artist h1,
    .contact h1 {
        font-size: clamp(3.5rem, 3vw, 9.5rem);
    }

    .artist {
        height: 65vh;
    }

    .Paintings h4 {
        font-size: clamp(2.0rem, 3vh, 14px);
    }

    .Paintings p {
        font-size: clamp(.5rem, 3vh, 1.5rem);
    }

    .Paintings {
        padding-bottom: 10px;
    }
    
    body .Paintings .gallery .image1,
    body .Paintings .gallery .image2,
    body .Paintings .gallery .image3,
    body .Paintings .gallery .image4 {
        height: 330px;
    }

    body .Paintings .gallery {
        display: grid;
        grid-template-columns: repeat(2, minmax(0px, 1fr));
        grid-gap: 1rem;
    }
   
    .contact {
        height: 42vh;
    }
    
    .contact h5,
    .contact a {
        font-size: clamp(2.2rem, 3vw, 4rem);
        font-weight: 900;
    }

    form input,
    form label,
    legend {
        font-size: 28px;
    }

    form input[type=email],
    form input[type=text] {
        width: 280px;
    }

    textarea {
        width: 350px;
    }

    body .contact .info {
        color: blue;
    }
}

@media screen and (max-width:800px) {
    .contact h3 {
        width: 30%;
    }

    form input,
    form label,
    legend {
        font-size: 18px;
    }

    form input[type=email],
    form input[type=text] {
        width: 160px;
    }

    legend {
        width: 30%;
    }

    .contact .choices label {
        color: green;
    }

    input[type=submit] {
        height: 30px;
        width: 80px;
        font-size: 14px;
    }

}

@media screen and (max-width: 700px) {
    .Name {
        padding-top: 45px;
    }
}

@media screen and (max-width:400px) {

    /*fine*/
    .navlist {
        position: fixed;
        justify-content: center;

    }

    .navlist li {
        display: flex;
        padding: 12px;
        font-size: clamp(.1rem, 1.8vh, 1rem);
    }

    .artist h1 {
        font-size: clamp(1.8rem, 3vw, 5.5rem);
    }

    .artist {
        height: 55vh;
    }

    .Paintings h2 {
        font-size: 1.7rem;
    }

    .Paintings h4 {
        font-size: clamp(12px, 3vh, 14px);
    }

    .Paintings p {
        font-size: clamp(.85rem, 3vw, 2.5rem);
    }

    .contact {
        height: 20vh;
    }

    body .Paintings .gallery .image1,
    body .Paintings .gallery .image2,
    body .Paintings .gallery .image3,
    body .Paintings .gallery .image4 {
        height: 230px;
    }

    body .Paintings .gallery {
        display: grid;
        grid-template-columns: repeat(2, minmax(0px, 1fr));
        grid-gap: 1rem;
    }

    .contact {
        height: 40vh;
    }

    h3 {
        font-size: clamp(1.2px, 3vh, 4rem);
        width: 60%;
    }

    form {
        padding: 3.5px;
    }

    textarea {
        height: 100px;
        width: 150px;
    }

    .contact .contacthead {
        font-size: clamp(1.8rem, 3vw, 5.5rem);
        padding: 15px;
    }

    .contact h5,
    .contact a {
        font-size: clamp(.9rem, 3vw, 4rem);
        font-weight: 900;
    }

    body .contact .info {
        color: blue;
    }
}
